@model SiteOnepiece.Models.Enfant

<main>
    <div class="row">
        <!-- Image Section -->
        <div class="col-4 text-center">
            <img class="img-fluid imageBorder" src="@Model.ImageURL" alt="Image de @Model.Nom">
        </div>

        <!-- Details Section -->
        <div class="col-8">
            <table class="table detail">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Début de la série</th>
                        <th scope="col">Présentement</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">Nom :</th>
                        <td>@Model.Nom</td>
                        <td>@Model.Nom</td>
                    </tr>
                    <tr>
                        <th scope="row">Âge :</th>
                        <td>@Model.ageDebut</td>
                        <td>@Model.agePrensent</td>
                    </tr>
                    <tr>
                        <th scope="row">Équipage :</th>
                        <td>@Model.Equipage</td>
                        <td>@Model.Equipage</td>
                    </tr>
                    <tr>
                        <th scope="row">Type de Fruit :</th>
                        <td>@Model.NomFruitDemon</td>
                        <td>@Model.typeDeFruit</td>
                    </tr>
                </tbody>
            </table>

            <!-- Actions -->
            <div class="d-flex justify-content-start my-3">
                <form asp-action="AjouterUnEnfant" asp-controller="Favoris" method="post" class="me-2">
                    <input type="hidden" name="id" value="@Model.id" />
                    <button type="submit" class="btn btn-primary btn-lg fa-solid fa-user-plus">Ajouter aux Favoris</button>
                </form>
                <a asp-action="Delete" asp-route-Id="@Model.id" class="btn btn-danger btn-lg fa-solid fa-trash">
                    Supprimer
                </a>
            </div>

            <!-- Description -->
            <div class="container-fluid">
                <h3>Description</h3>
                <p class="detail" style="font-size: larger;">
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
</main>
