@model SiteOnepiece.ViewModels.EnfantVM

@{
    ViewData["Title"] = "Editer un Pirate";
}

<div class="container mt-4">    

    <h4>Détails du Pirate</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="EditPost">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input asp-for="@Model.Enfant.id" class="form-control" hidden />
                <!-- Nom -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.Nom" class="form-label"></label>
                    <input asp-for="@Model.Enfant.Nom" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.Nom" class="text-danger"></span>
                </div>               
                <!-- age debut   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.ageDebut" class="form-label"></label>
                    <input asp-for="@Model.Enfant.ageDebut" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.ageDebut" class="text-danger"></span>
                </div>

                <!-- age present   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.agePrensent" class="form-label"></label>
                    <input asp-for="@Model.Enfant.agePrensent" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.agePrensent" class="text-danger"></span>
                </div>
                <!-- type de fruit  -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.typeDeFruit" class="form-label"></label>
                    <select class="form-control form-select" asp-for="@Model.Enfant.IdParent" asp-items="@Model.ParentList">
                        <option disabled selected>--Type de fruit--</option>
                    </select>
                    <span asp-validation-for="@Model.Enfant.IdParent" class="text-danger"></span>
                    
                </div>
                <!-- image   -->
                <div class="mb-3">
                    
                    <input asp-for="@Model.Enfant.ImageURL" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.ImageURL" class="text-danger"></span>
                </div>
                <!-- description   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.Description" class="form-label"></label>
                    <textarea asp-for="@Model.Enfant.Description" class="form-control custom-editor" id="descriptionEditor"></textarea>
                    <span asp-validation-for="@Model.Enfant.Description" class="text-danger"></span>
                </div>
                <!-- Nom du fruit   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.NomFruitDemon" class="form-label"></label>
                    <input asp-for="@Model.Enfant.NomFruitDemon" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.NomFruitDemon" class="text-danger"></span>
                </div>
                <!-- equipage   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.Equipage" class="form-label"></label>
                    <input asp-for="@Model.Enfant.Equipage" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.Equipage" class="text-danger"></span>
                </div>
                <!-- occupation   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.Occupation" class="form-label"></label>
                    <input asp-for="@Model.Enfant.Occupation" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.Occupation" class="text-danger"></span>
                </div>
                <!-- est vedette   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.EstVedette" class="form-label"></label>
                    <input asp-for="@Model.Enfant.EstVedette" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.EstVedette" class="text-danger"></span>
                </div>

                <!-- Prime   -->
                <div class="mb-3">
                    <label asp-for="@Model.Enfant.Prime" class="form-label"></label>
                    <input asp-for="@Model.Enfant.Prime" class="form-control" />
                    <span asp-validation-for="@Model.Enfant.Prime" class="text-danger"></span>
                </div>


                <div class="d-grid">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
